<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="identity">
      <li class="active"><a href="#">Inicio</a></li>
      <li><a [routerLink]="['/publications']" [routerLinkActive]="['active']">Publicaciones</a></li>
      <li><a [routerLink]="['/users']" [routerLinkActive]="['active']">Gente</a></li>
      <li><a [routerLink]="['/messages']" [routerLinkActive]="['active']">Mensajes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="identity">
       <li>
         <!-- <img *ngIf="identity.image; else imgAvatarDefault"  src="{{ url  +'getImage/'+ identity.image }}" alt="image_avatar" class="img-circle circle-custom" height="40" width="50">-->
         <img *ngIf="identity.image; else imgAvatarDefault"  src="{{ 'http://res.cloudinary.com/dftu7s8cf/image/upload/'+ identity.image }}" alt="image_avatar" class="img-circle circle-custom" height="40" width="50">
         <ng-template #imgAvatarDefault>
              <img src="{{ url +'getImage/default-profile-user.png' }}" alt="image_avatar" class="img-circle circle-custom" height="40" width="50">
          </ng-template>
       </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ identity.name }}<b class="caret"></b>
          </a>
            <ul class="dropdown-menu">
                <li><a [routerLink]="['/user-edit']"><i class="glyphicon glyphicon-cog"></i> Mis datos</a></li>
                <li><a [routerLink]="['/profile-user', identity._id]"><i class="glyphicon glyphicon-info-sign"></i> Mi perfil</a></li>
                <li class="divider"></li>
                <li style="cursor:pointer;"><a (click)="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
      <li>
        <a [routerLink]="['/login']" [routerLinkActive]="['active']">
          Login
        </a>
      </li>
      <li>
        <a [routerLink]="['/register']" [routerLinkActive]="['active']">Register</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
