<div class="bg-custom-target col-md-12">
  <br>
  <!--<img *ngIf="identity.image; else imgAvatarDefault" src="{{ url + 'getImage/' + identity.image }}" alt="image profile" class="img-circle center-block" height="100" width="100" style="border: 0.2px solid grey;"><br> desde el servidor-->
  <img *ngIf="identity.image; else imgAvatarDefault" src="{{ 'http://res.cloudinary.com/dftu7s8cf/image/upload/'+ identity.image }}" alt="image profile" class="img-circle center-block" height="100" width="100" style="border: 0.2px solid grey;"><br>
  <ng-template #imgAvatarDefault>
      <img src="{{ url + 'getImage/default-profile-user.png' }}" alt="image profile" class="img-circle center-block" height="100" width="100"><br>
  </ng-template>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text-center">
          <b><a [routerLink]="['/profile-user', identity._id]">{{ identity.name}} {{ identity.surname }}</a></b> 
          <p class="text-muted"> #{{identity.nick}} </p>
          <p class="text-muted"> {{ identity.email }}</p>
      </div>
      <hr>
      <div class="text-center">
        <div class="col-md-4 bg-success">
          <a [routerLink]="['/following-user', identity._id, 1]">
              <small>Siguiendo</small><br>
              <b>{{ stats.c_following }}</b>
          </a>
        </div>
        <div class="col-md-4 bg-info">
          <a [routerLink]="['/followed-user', identity._id, 1]">
            <small>Siguiendome</small>
            <b>{{ stats.c_followed }}</b>
          </a>
        </div>
        <div class="col-md-4 bg-primary">
            <small>Publicaciones&nbsp;&nbsp;&nbsp;</small>
            <b>{{ stats.c_publication }}</b>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-body">
        <form #publicationForm="ngForm" (ngSubmit)="onsubmit(publicationForm);">
            <div class="alert alert-success" *ngIf="status == 'true'" id="alert-publication-success">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Publicacion creada correctamente!</strong>
              <br>
            </div>
            
            <div class="alert alert-danger" *ngIf="status == 'error'">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Ha corrido un error!.</strong> No se pudo crear su publicacion
              <br>
            </div>
            
          <p>
              <label><b>En que estas pensando?</b></label>
              <textarea class="form-control" rows="5" id="comment" name="comment" #comment="ngModel" [(ngModel)]="publication.text" required></textarea>
              <span *ngIf="!comment.valid && ( comment.dirty || comment.touched )">
                  El texto de tu publicacion es obligatoria
              </span><br>
          </p>
          <p>
            <label> Archivo </label>
            <input type="file" name="filePublication" #filePublication  placeholder="Sube tu archivo" (change)="uploadFilePubli($event)">
          </p>
          <hr>
          <input type="submit" class="btn btn-success" value="Publicar" [disabled]="!publicationForm.form.valid">
        </form>
      </div>
  </div>

</div>